@use 'abstracts' as *;

.cta-beta {
   display: grid;
   grid-template-rows: minmax(200px, 1fr);
   position: relative;
   padding: var(--ct-padding-cta);
   @include bg-img(
      '../assets/shared/mobile/bg-beta.jpg',
      $position: center,
      $size: cover
   );

   @include mq(min-width, tablet) {
      @include bg-img('../assets/shared/tablet/bg-beta.jpg');
   }

   @include mq(min-width, desktop) {
      @include bg-img('../assets/shared/desktop/bg-beta.jpg');
   }

   @include e(content) {
      gap: 3rem;
      @include mq(min-width, tablet) {
         gap: 0rem;
         grid-template-columns: repeat(2, 1fr);
      }
   }

   @include e(title) {
      @include m(ct) {
         @include mq(min-width, tablet) {
            @include flexy($dir: column, $just: center);
         }
      }

      margin-bottom: 0;
      max-width: 400px;
   }

   @include e(link) {
      @include mq(min-width, tablet) {
         align-self: center;
         justify-self: end;
         margin-right: 4rem;
      }
   }
}
