@use 'abstracts' as *;

.features {
   padding: var(--ct-padding-features);

   @include e(content) {
      gap: 11.5rem;
      @include m(home) {
         @include flexy($dir: column);
         @include mq(min-width, desktop) {
            flex-direction: row;
         }
         @include mq(min-width, desktop) {
            gap: 3rem;
         }
      }

      @include m(features) {
         @include mq(min-width, tablet) {
            grid-template-columns: repeat(2, 1fr);
            gap: 11.5rem 2.5rem;
         }
         @include mq(min-width, desktop) {
            grid-template-columns: repeat(3, 1fr);
            gap: 14rem 2.5rem;
         }
      }

      @include e(item) {
         position: relative;
         @include flexy($dir: column, $align: center);
         gap: 1rem;
      }
   }
}
