@use 'abstracts' as *;

.footer {
   @include m(pm) {
      padding: var(--ct-padding-footer);
   }
}

.grid-container {
   @include m(footer) {
      outline: 1px solid red;
      place-items: center;
      // grid-template-areas: ;
      gap: 2rem;

      @include e(logo) {
         // grid-area: logo;
      }

      @include e(social) {
         // grid-area: social;
      }

      @include e(nav) {
         // grid-area: nav;
         @include mq(max-width, tablet) {
            margin-bottom: 4rem;
         }
      }

      @include e(cta) {
         @include mq(max-width, tablet) {
            margin-left: -3rem;
         }
      }

      @include e(copyright) {
         // grid-area: copyright;
      }
   }
}
