@use 'abstracts' as *;

.footer {
   @include m(pm) {
      padding: var(--ct-padding-footer);
   }
}

.grid-container {
   @include m(footer) {
      // outline: 1px solid red;
      grid-template-areas:
         'logo'
         'social'
         'nav'
         'cta'
         'copyright';
      gap: 2rem;

      @include mq(max-width, tablet) {
         place-items: center;
      }

      @include mq(min-width, tablet) {
         grid-template-columns: auto 1fr auto;
         grid-template-rows: repeat(2, auto) 1fr auto;
         grid-template-areas:
            'logo . cta'
            'nav nav .'
            '. . .'
            'social . copyright';
      }

      @include e(logo) {
         grid-area: logo;
      }

      @include e(social) {
         grid-area: social;
      }

      @include e(nav) {
         grid-area: nav;
         @include mq(max-width, tablet) {
            margin-bottom: 4rem;
         }
      }

      @include e(cta) {
         grid-area: cta;
         @include mq(max-width, tablet) {
            margin-left: -3rem;
         }
         @include mq(min-width, tablet) {
            @include flexy($dir: column, $align: center);
         }
      }

      @include e(copyright) {
         grid-area: copyright;
      }
   }
}
