@use 'abstracts' as *;

.grid-container {
   @include m(offset) {
      // mobile

      @include mq(max-width, tablet) {
         grid-template-areas:
            'picture'
            'text';
         @include e(text) {
            grid-area: text;
         }
         @include e(picture) {
            grid-area: picture;
         }
      }

      @include e(text) {
         padding: var(--ct-padding-offset);
         @include mq(min-width, desktop-offset) {
            position: relative;
            --ct-padding-offset: 10rem 0 8rem;
         }
         @include mq(min-width, tablet) {
            @include m(non-accent) {
               --ct-padding-offset: 10rem 3rem 8rem;
            }
         }
      }

      // wide

      @include e(picture) {
         background-position: center;
         background-size: cover;

         @include m(hero) {
            @include m(stories) {
               @include bg-img(
                  $img: '../assets/stories/tablet/moon-of-appalacia.jpg'
               );

               @include mq(min-width, desktop-offset) {
                  @include bg-img(
                     $img: '../assets/stories/desktop/moon-of-appalacia.jpg'
                  );
               }
            }
         }

         @include e(image) {
            @include m(stories) {
               opacity: 0;
               @include mq(min-width, tablet) {
                  display: none;
               }
            }
         }

         @include mq(min-width, desktop-offset) {
            @include e(image) {
               opacity: 0;
            }

            @include m(hero) {
               @include m(home) {
                  @include bg-img(
                     $img: '../assets/home/desktop/create-and-share.jpg'
                  );
               }

               @include m(features) {
                  @include bg-img(
                     $img: '../assets/features/desktop/hero.jpg',
                     $position: 0%
                  );
               }

               @include m(pricing) {
                  @include bg-img($img: '../assets/pricing/desktop/hero.jpg');
               }
            }

            @include m(beautiful) {
               @include bg-img(
                  $img: '../assets/home/desktop/beautiful-stories.jpg'
               );
            }

            @include m(everyone) {
               @include bg-img(
                  $img: '../assets/home/desktop/designed-for-everyone.jpg'
               );
            }
         }
      }

      // general

      @include m(pm) {
         @include mq(min-width, tablet) {
            grid-template-columns: 1fr auto;
         }

         @include mq(min-width, desktop-offset) {
            grid-template-columns: minmax(500px, 1fr) auto;
         }
      }

      @include m(sd) {
         @include mq(min-width, tablet) {
            grid-template-columns: auto 1fr;
         }

         @include mq(min-width, desktop-offset) {
            grid-template-columns: auto minmax(500px, 1fr);
         }
      }

      @include m(stories) {
         @include mq(min-width, tablet) {
            grid-template-columns: repeat(2, 1fr);
         }
      }
   }
}
