@use 'abstracts' as *;

.grid-container {
   @include m(offset) {
      //   outline: 3px solid red;
      @include mq(max-width, tablet) {
         grid-template-areas:
            'picture'
            'text';
         @include e(text) {
            grid-area: text;
         }
         @include e(picture) {
            grid-area: picture;
         }
      }

      @include e(text) {
         padding: var(--ct-padding-offset);
      }
   }
}
