@use 'abstracts' as *;

.hero {
   position: relative;
   // container wrapper classes - turn off margin-inline from tablet (auto before)
   width: 85%;

   @include mq(min-width, tablet) {
      width: 90%;
      padding-inline: min(4rem, 10vw);
      // add to utility variable
   }

   @include mq(max-width, tablet) {
      margin-inline: auto;
   }

   @include m(stories) {
      @include mq(min-width, tablet) {
         background-color: transparent;
         position: relative;
         grid-column: 1 / 2;
         grid-row: 1 / 2;

         @include m(bg) {
            grid-column: 1 / -1;
            grid-row: 1 / 2;
         }
      }

      @include e(subtitle) {
         margin-bottom: 1rem;
      }

      @include e(credits) {
         & > strong {
            margin-left: 0.8rem;
         }
      }
   }
}
