@use 'abstracts' as *;

// Mobile

.nav-mobile {
   @include m(container) {
      @include mq(max-width, tablet) {
         padding: 3rem 0 5.5rem;
         @include position(fixed, $z-index: 9997, $width: 100%) {
            top: 65px;
            left: 0;
         }
      }
   }

   @include m(hr) {
      margin: 1.2rem auto 1.5rem;
      width: 90%;
      border: 0;
      height: 0;
      border-top: 1px solid hsl(var(--clr-light-grey-body) / 0.8);
      @include mq(min-width, tablet) {
         display: none;
      }
   }
}

.nav {
   & a {
      transition: color var(--nav-links-transition);
      &:hover {
         color: hsl(var(--clr-light-grey-btn));
      }
   }

   @include m(pm) {
      @include e(list) {
         @include flexy($dir: column, $align: center);
         gap: 0.8rem;
         @include mq(min-width, tablet) {
            @include flexy($dir: row);
            gap: 1rem;
         }
         @include e(item) {
         }
      }
   }
}
