@use 'abstracts' as *;

// Mobile

.nav-mobile {
   @include m(container) {
      @include mq(max-width, tablet) {
         padding-block: 3rem 4rem;
         @include position(fixed, $z-index: 9997, $width: 100%) {
            top: 80px;
            left: 0;
         }
      }
   }

   @include m(hr) {
      width: 90%;
      border: 0;
      height: 0;
      border-top: 1px solid hsl(var(--clr-light-grey-body) / 0.8);
      @include mq(min-width, tablet) {
         display: none;
      }
   }
}

// .nav {
//    @include m(pm) {
//       @include e(list) {
//          @include e(item) {
//          }
//       }
//    }
// }
