@use 'abstracts' as *;

.desc {
   @include m(offset) {
      margin-bottom: 1.3rem;
      max-width: 520px;
      @include mq(min-width, tablet) {
         width: 90%;
         margin-bottom: 3rem;
      }
   }

   @include m(hero) {
      @include mq(max-width, tablet) {
         margin-bottom: 2rem;
      }
      @include m(feat) {
         @include mq(max-width, tablet) {
            max-width: 470px;
         }
      }
   }

   @include m(feature) {
      width: 80%;
      max-width: 450px;
      @include mq(min-width, desktop) {
         width: 90%;
         max-width: unset;
      }
   }
}
