@use 'abstracts' as *;

.desc {
   @include m(offset) {
      margin-bottom: 1.3rem;
      @include mq(min-width, tablet) {
         width: 90%;
      }
   }

   @include m(hero) {
      margin-bottom: 2rem;
      @include mq(min-width, tablet) {
         margin-bottom: 3rem;
      }
   }

   @include m(feature) {
      width: 80%;
      max-width: 450px;
   }
}
