@use 'abstracts' as *;

.hamburger {
   display: none;
   @include mq(max-width, tablet) {
      display: block;
      @include position(absolute, $z-index: 9000) {
         top: 50%;
         transform: translateY(-50%);
         right: 0;
      }
   }
}

.kevin-hb {
   @include mq(max-width, tablet) {
      display: block;
      position: relative;
      padding: 1rem;

      &::before,
      &::after {
         position: absolute;
         border-radius: 1em;
         background-color: hsl(var(--clr-pure-black));
         display: block;
         width: 2em;
         height: 2px;
      }

      @include p-el(before) {
         bottom: 12px;
      }

      @include p-el(after) {
         top: 10px;
      }
   }
}
