@use 'abstracts' as *;

.icon {
   @include m(feature) {
      @include p-el(before) {
         @include position(absolute) {
            top: -120px;
            left: 50%;
            transform: translateX(-50%);
         }
      }
   }

   // imgs

   @include m(responsive) {
      @include p-el(
         before,
         $content: url('../assets/features/desktop/responsive.svg')
      );
   }

   @include m(no-limit) {
      @include p-el(
         before,
         $content: url('../assets/features/desktop/no-limit.svg')
      ) {
         top: -100px;
      }
   }

   @include m(embed) {
      @include p-el(
         before,
         $content: url('../assets/features/desktop/embed.svg')
      );
   }

   @include m(domain) {
      @include p-el(
         before,
         $content: url('../assets/features/desktop/custom-domain.svg')
      );
   }

   @include m(exposure) {
      @include p-el(
         before,
         $content: url('../assets/features/desktop/boost-exposure.svg')
      );
   }
}
