@use 'abstracts' as *;

.pricing-card {
   padding: 3.5rem 0 2.8rem;
   gap: 1.4rem;
   @include mq(max-width, tablet) {
      place-items: center;
   }
   @include mq(min-width, desktop) {
      place-items: center;
   }

   @include mqs(min-width, tablet, max-width, desktop) {
      grid-template-columns: auto 1fr auto;
      grid-template-areas:
         'title . price'
         'desc . price'
         'btn . .';
      padding-inline: 2.5rem;
   }

   @include m(pro) {
      position: relative;
      @include mq(min-width, desktop) {
         transform: scale(1.1);
      }
   }

   @include e(title) {
      text-align: var(--center-pricing-card);
      @include mqs(min-width, tablet, max-width, desktop) {
         grid-area: title;
      }
   }

   @include e(desc) {
      width: 90%;
      max-width: 400px;
      text-align: var(--center-pricing-card);

      @include mqs(min-width, tablet, max-width, desktop) {
         max-width: 350px;
         grid-area: desc;
         margin-bottom: 0.8rem;
      }
   }

   @include e(price) {
      margin-block: 1.3rem;
      @include mqs(min-width, tablet, max-width, desktop) {
         grid-area: price;
         margin-block: unset;
      }
   }

   @include e(btn) {
      width: 75%;
      max-width: 380px;
      @include mqs(min-width, tablet, max-width, desktop) {
         grid-area: btn;
         max-width: 320px;
      }
   }
}
