@use 'abstracts' as *;

.toggle {
   @include m(switch) {
      position: relative;
      display: block;
      cursor: pointer;
      border-radius: 40px;
      background-color: hsl(var(--clr-light-grey-btn));
      width: 60px;
      height: 30px;

      & input {
         cursor: pointer;
         //  opacity: 0;
         //  width: 0;
         //  height: 0;
      }
   }
}
