@use 'abstracts' as *;

.toggle {
   @include m(switch) {
      position: relative;
      display: block;
      cursor: pointer;
      border-radius: 40px;
      background-color: hsl(var(--clr-light-grey-btn));
      width: 60px;
      height: 30px;

      & input {
         cursor: pointer;
         opacity: 0;
         &:checked + .toggle--slider {
            background-color: hsl(var(--clr-pure-white));
            transform: translate(110%, -50%);
         }
      }
   }

   @include m(slider) {
      @include position(absolute, $width: 25px, $height: 25px) {
         top: 50%;
         transform: translateY(-50%);
         left: 4px;
      }
      border-radius: 50%;
      background-color: hsl(var(--clr-pure-black));
      transition: transform 0.3s ease-in-out, background-color 0.3s ease-in-out;
   }
}
