@use 'abstracts' as *;

.skip-to-content {
   @include position(absolute) {
      left: 50%;
   }
   text-align: var(--center);

   transform: translate(-50%, 0%);
   transition: transform var(--btn-transition);
   &:focus,
   &:hover {
      transform: translateY(0);
   }
}
