@use 'abstracts' as *;

.social-list {
   @include flexy($just: center);
   gap: 0.8rem;
   @include mq(min-width, tablet) {
      @include flexy($just: flex-start);
   }

   @include e(item) {
      position: relative;
      @include p-el(before) {
         @include position(absolute);
      }
      &:hover {
         @include p-el(before) {
            opacity: 0;
         }
      }

      // imgs

      @include m(fb) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/facebook-white.svg')
         );
      }

      @include m(yt) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/youtube-white.svg')
         );
      }

      @include m(tw) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/twitter-white.svg')
         );
      }

      @include m(pt) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/pinterest-white.svg')
         );
      }

      @include m(insta) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/instagram-white.svg')
         );
      }
   }
}
