@use 'abstracts' as *;

.social-list {
   @include flexy($just: center);
   gap: 0.8rem;

   @include e(item) {
      position: relative;

      @include p-el(before) {
         @include position(absolute);
         transition: opacity 0.1s linear;
      }

      &:hover {
         @include p-el(before) {
            opacity: 0;
         }
      }

      // imgs

      @include m(fb) {
         @include p-el(
            before,
            $content: url('../assets/shared/desktop/facebook-white.svg')
         );
      }
   }
}
