@use 'abstracts' as *;

.story {
   position: relative;

   &:hover::before {
      opacity: 1;
   }

   background-repeat: no-repeat;
   // background-position: center;
   background-size: cover;

   // @include e(content) {
   //    @include position(absolute) {
   //       bottom: 0;
   //    }
   // }

   // IMAGES

   @include m(mountains) {
      @include bg-img('../assets/stories/mobile/mountains.jpg');
   }

   @include m(cityspaces) {
      @include bg-img('../assets/stories/mobile/cityscapes.jpg');
   }

   @include m(voage) {
      @include bg-img('../assets/stories/mobile/18-days-voyage.jpg');
   }

   @include m(architecturals) {
      @include bg-img('../assets/stories/mobile/architecturals.jpg');
   }
}
