@use 'abstracts' as *;

.story {
   // display: grid;
   // grid-template-columns: repeat(5, 1fr);
   position: relative;
   place-items: center;

   &:hover::before {
      opacity: 1;
   }

   // @include e(image) {
   //    grid-column: 1 / 3;
   // }

   // @include e(content) {
   //    grid-row: 2 / 3;
   // }

   // IMAGES

   // @include mq(max-width, desktop) {
   //    background-repeat: no-repeat;
   //    background-position: center;
   //    background-size: cover;
   // }

   // @include m(mountains) {
   //    @include bg-img('../assets/stories/mobile/mountains.jpg');
   // }

   // @include m(cityspaces) {
   //    @include bg-img('../assets/stories/mobile/cityscapes.jpg');
   // }

   // @include m(voage) {
   //    @include bg-img('../assets/stories/mobile/18-days-voyage.jpg');
   // }

   // @include m(architecturals) {
   //    @include bg-img('../assets/stories/mobile/architecturals.jpg');
   // }
}
