@use 'abstracts' as *;

.story {
   position: relative;
   background-position: center;
   background-size: cover;
   cursor: pointer;
   transition: transform var(--btn-transition);
   &:hover {
      transform: translateY(-7%);
      @include p-el(before) {
         opacity: 1;
      }
   }

   @include m(shadow) {
      @include p-el(after) {
         @include position(absolute) {
            inset: 0;
            background-color: hsl(var(--clr-pure-black) / 0.2);
            pointer-events: none;
         }
      }
   }

   @include e(content) {
      position: relative;
      @include position(absolute, $width: 85%, $z-index: 3) {
         bottom: 10%;
         left: 50%;
         transform: translateX(-50%);
      }
   }

   @include e(title) {
      margin: 0.2rem 0 0.4rem;
   }

   @include e(subtitle) {
      margin-bottom: 2rem;
      @include p-el(after, $width: 100%, $height: 1px) {
         background-color: hsl(var(--clr-pure-white) / 0.5);
         @include position(absolute) {
            bottom: 42px;
            left: 0;
            right: 0;
         }
      }
   }

   // IMAGES

   @include e(image) {
      opacity: 0;
   }

   @include m(mountains) {
      @include bg-img('../assets/stories/mobile/mountains.jpg');
   }

   @include m(cityspaces) {
      @include bg-img('../assets/stories/mobile/cityscapes.jpg');
   }

   @include m(voage) {
      @include bg-img('../assets/stories/desktop/18-days-voyage.jpg');
   }

   @include m(architecturals) {
      @include bg-img('../assets/stories/mobile/architecturals.jpg');
   }

   // stories

   @include m(word-tour) {
      @include bg-img('../assets/stories/desktop/world-tour.jpg');
   }

   @include m(unforeseen) {
      @include bg-img('../assets/stories/desktop/unforeseen-corners.jpg');
   }

   @include m(nowhere) {
      @include bg-img('../assets/stories/desktop/trip-to-nowhere.jpg');
   }

   @include m(africa) {
      @include bg-img('../assets/stories/desktop/king-on-africa.jpg');
   }
}
