@use 'abstracts' as *;

.btn {
   display: inline-block;
   @include m(bg) {
      transition: background-color var(--btn-transition),
         color var(--btn-transition);
      padding: 1em 2em;

      @include m(dark) {
         &:hover {
            background-color: hsl(var(--clr-light-grey-btn));
            color: hsl(var(--clr-pure-black));
         }
      }

      @include m(light) {
         &:hover {
            background-color: hsl(var(--clr-pure-white) / 0.8);
            color: hsl(var(--clr-pure-black));
         }
      }
   }

   @include m(text) {
      outline: 1px solid white;
      width: 21%;
      position: relative;
      @include p-el(after, url('../assets/shared/desktop/arrow-white.svg')) {
         right: 0;
         top: 50%;
         transform: translateY(-50%);
      }
      &:hover {
         text-decoration: underline;
      }
      @include m(dark) {
         @include p-el(after, url('../assets/shared/desktop/arrow.svg'));
      }
      @include m(light) {
         @include p-el(after, url('../assets/shared/desktop/arrow-white.svg'));
      }
   }
}
