@use 'abstracts' as *;

.btn {
   // typography

   @include m(bg) {
      transition: background-color var(--btn-transition),
         color var(--btn-transition);
      padding: 1em 2em;

      @include m(dark) {
         &:hover {
            background-color: hsl(var(--clr-light-grey-btn));
            color: hsl(var(--clr-pure-black));
         }
      }

      @include m(light) {
         &:hover {
            background-color: hsl(var(--clr-pure-white) / 0.8);
            color: hsl(var(--clr-pure-black));
         }
      }
   }

   @include m(text) {
      //    arrow
      &:hover {
         text-decoration: underline;
      }
      @include m(dark) {
         //   dark arrow color
      }
      @include m(light) {
         //   light arrow color
      }
   }
}
