$colors: (
   accent-orange: 28 100% 79%,
   accent-pink: 329 36% 59%,
   accent-blue: 229 100% 67%,
   pure-black: 0 0% 0%,
   pure-white: 0 0% 100%,
   light-grey-body: 0 0% 50%,
   light-grey-card: 0 0% 95%,
   light-grey-btn: 0 0% 86%,
);
