$colors: (
   pm-dark-blue: 226 43% 10%,
   sd-dark-blue: 235 46% 20%,
   desat-blue: 235 45% 61%,
   pale-blue: 236 100% 87%,
   soft-orange: 43 84% 65%,
   soft-white: 228.5 100% 94.9%,
   purple-blue: 246 80% 60%,
   deep-purple: 264 64% 52%,
   lime-green: 145 58% 55%,
   light-red: 348 100% 68%,
   soft-blue: 195 74% 62%,
   light-orange: 15 100% 70%,
);

$color-shades: (
   dark-blue: (
      100: 226 43% 100%,
      200: 226 43% 90%,
      300: 226 43% 70%,
      400: 226 43% 60%,
      500: 226 43% 50%,
      600: 226 43% 40%,
      700: 226 43% 30%,
      800: 226 43% 10%,
      900: 226 43% 0%,
   ),
);
