$type-scale: (
   mobile: (
      size: (
         fs-500: 2.6667rem,
         fs-400: 1.6rem,
         fs-300: 1.2rem,
         fs-200: 0.8rem,
         // h4/btn
         fs-100: 0.9375rem,
      ),
      line-height: (
         lh-500: 1.2,
         lh-400: 1.041667,
         lh-300: 1.3889,
         lh-200: 1.3333,
         lh-100: 1.6667,
      ),
      weight: (
         fw-bold: 700,
         fw-medium: 500,
         fw-ftr-links: 500,
         fw-regular: 400,
      ),
      character-spacing: (
         cs-500: 4.17px,
         cs-200: 2px,
      ),
   ),
   tablet: (
      size: (),
      line-height: (),
      weight: (
         fw-ftr-links: 400,
      ),
      character-spacing: (),
   ),
   desktop: (
      size: (),
      line-height: (),
      weight: (),
      character-spacing: (),
   ),
);
