$layout: (
   mobile: (
      center-left-tablet: center,
      center-left-dekstop: center,
      center: center,
      gap: 2rem,
      flow-space: 1.5rem,
      ct-padding-offset: 5rem 0,
      ct-padding-features: 13rem 0 6.5rem,
   ),
   tablet: (
      center-left-tablet: left,
      ct-padding-offset: 7rem 0,
   ),
   desktop: (
      center-left-dekstop: left,
   ),
);
