$layout: (
   mobile: (
      center-left-tablet: center,
      center: center,
      gap: 2rem,
      flow-space: 1.5rem,
      ct-padding: 5rem 0,
   ),
   tablet: (
      center-left-tablet: left,
   ),
   desktop: (),
);
