@use 'abstracts' as *;

.container-wrapper {
   // outline: 2px solid lightgrey;
   width: 85%;
   max-width: 1200px;
   margin-inline: auto;

   @include mq(min-width, tablet) {
      width: 90%;
   }
}
