@use 'abstracts' as *;

.pricing-plans {
   padding-top: 7rem;
   @include e(toggle-container) {
      @include flexy($align: center, $just: center);
      gap: 2rem;
      margin-bottom: 3.5rem;
   }

   @include e(grid-container) {
      gap: 1.5rem;
      @include mq(min-width, desktop) {
         grid-template-columns: repeat(3, 1fr);
         gap: 3rem;
      }
   }
}

.compare {
   padding-block: 7rem;
   @include e(table) {
      outline: 2px solid black;
      display: grid;
      grid-template-columns: 1fr;
      grid-template-areas:
         'header basic pro'
         'unlimited-story unlimited-story .';

      // & > * {
      //    // outline: 1px solid black;
      // }

      @include e(header) {
         grid-area: header;
      }

      @include e(features) {
         grid-area: features;
      }

      // @include e(title) {
      @include e(basic) {
         grid-area: basic;
      }

      @include e(pro) {
         grid-area: pro;
      }

      @include e(business) {
         grid-area: business;
      }
      // }

      @include e(unlimited) {
         @include m(story) {
            grid-area: unlimited-story;
         }
         // @include m(photo) {
         //    grid-area: unlimited-photo;
         // }
      }

      // @include e(embed) {
      //    grid-area: embed;
      // }

      @include e(tick) {
         grid-area: tick;
      }

      @include e(body) {
         @include m(row) {
            border: 10px solid red;
         }
      }
   }
}
