@use 'abstracts' as *;

.pricing-plans {
   padding-top: 7rem;
   @include e(toggle-container) {
      @include flexy($align: center, $just: center);
      gap: 2rem;
      margin-bottom: 3.5rem;
   }

   @include e(grid-container) {
      gap: 1.5rem;
      @include mq(min-width, desktop) {
         grid-template-columns: repeat(3, 1fr);
         gap: 3rem;
      }
   }
}

.compare {
   padding-block: 7rem;
   @include e(table) {
      // outline: 2px solid black;
      display: grid;
      grid-template-columns: 1fr;
      border-collapse: collapse;
      margin-top: 3rem;
      font-size: 0.9rem;
      min-width: 400px;

      @include e(header) {
         border-bottom: 1px solid hsl(var(--clr-pure-black));
         & tr {
            text-align: left;
            // border: 1px solid red;
            font-weight: bold;
         }
      }

      & th,
      & td {
         padding: 1rem;
      }

      // @include e(body) {
      //    @include m(row) {
      //       // border: 10px solid red;
      //    }
      // }
   }
}
